<h1>Blogs</h1>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= image_tag blog.thumb_image, width: "200px", height: "200px" %></td>
        <td><%= blog.title %></td>
        <td><%= blog.body %></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

<br>

<%= link_to 'New Blog', new_blog_path %>
